.item {
  display: block;
  padding: 20px;
  max-width: 540px;
  max-height: 540px;
}

.image {
  transition: transform 0.3s, box-shadow 0.3s;
}
.image:hover,
.image:focus {
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
